@using CourseWorkDB.DataBase
@model CourseWorkDB.DataBase.Inventory

@{
    ViewData["Title"] = "Изменить инвентарь";
}
@{
    var db = new ChurchParishCourseWorkContext();
    List<Event> events = db.Events.ToList();

    string Check(int eventId)
    {
        if (eventId == Model.EventId)
            return "selected";
        else
            return "";
    }
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditInventory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPurchase" class="control-label"></label>
                <input asp-for="DateOfPurchase" class="form-control" />
                <span asp-validation-for="DateOfPurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Мероприятие</label>
                <select name="eventId" class="form-select">
                    @foreach (var eevent in events)
                    {
                        if (Check(eevent.Id) == "selected")
                        {
                            <option selected value="@eevent.Id">@eevent.Name</option>
                        }
                        else
                        {
                            <option value="@eevent.Id">@eevent.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Inventory">Назад к списку</a>
</div>

