@model IEnumerable<CourseWorkDB.DataBase.Inventory>
@{
    ViewData["Title"] = "Инвентарь";
}
<script type="text/javascript">
    function Edit() {
        var chkd = document.querySelectorAll('input:checked');
        var id = chkd[0].getAttribute("id");
        var hidden = document.getElementsByName('ids')[0];
        hidden.value = id;
        if (chkd.length > 1) {
            document.getElementById('editBtn').disabled = true;
            document.getElementById('delBtn').disabled = true;
        }
        else {
            document.getElementById('editBtn').disabled = false;
            document.getElementById('delBtn').disabled = false;
        }
    }
</script>


@using (Html.BeginForm("InventoryActions", "DataBase", FormMethod.Get))
{
    <input type="hidden" name="ids" value="" />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPurchase)
            </th>
            <th>
                Мероприятие
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Id)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Price)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DateOfPurchase)
                </th>                
                <th>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </th>
                <th>
                    <input type="checkbox" id="@item.Id" onclick="Edit()">
                </th>
                <th></th>
            </tr>
        }
    </table>
    <input type="submit"
       name="button"
       value="Добавить инвентарь" />
    <input type="submit"
       name="button" id="editBtn"
       value="Редактировать инвентарь" />
    <input type="submit"
       name="button" id="delBtn"
       value="Удалить инвентарь" />
}
