@model IEnumerable<CourseWorkDB.Models.ParishionerHelper>
@{
    ViewData["Title"] = "Прихожане";
}
<script type="text/javascript">
    function Edit() {
        var chkd = document.querySelectorAll('input:checked');
        if (chkd.length != 1) {
            document.getElementById('editBtn').disabled = true;
            document.getElementById('delBtn').disabled = true;
        }
        else {
            document.getElementById('editBtn').disabled = false;
            document.getElementById('delBtn').disabled = false;
        }
        var id = chkd[0].getAttribute("id");
        var hidden = document.getElementsByName('ids')[0];
        hidden.value = id;
    };
    window.onload = function () {
        document.getElementById('editBtn').disabled = true;
        document.getElementById('delBtn').disabled = true;
    };
</script>


@using (Html.BeginForm("ParishionerActions", "DataBase", FormMethod.Get))
{
    <input type="hidden" name="ids" value="" />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                Священнослужитель
            </th>
            <th>
                Сумма пожертвований
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Id)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Surname)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Age)
                </th>
                <th>
                    @if (item.Sex == true)
                    {
                        <label>Мужчина</label>
                    }
                    else
                    {
                        <label>Женщина</label>
                    }
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Address)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Priest.Title)
                    @Html.DisplayFor(modelItem => item.Priest.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DonationSum)
                </th>
                <th>
                    <input type="checkbox" id="@item.Id" onclick="Edit()">
                </th>
                <th></th>
            </tr>
        }
    </table>
    <input type="submit"
       name="button"
       value="Добавить прихожанина" />
    <input type="submit"
       name="button" id="editBtn"
       value="Редактировать прихожанина" />
    <input type="submit"
       name="button" id="delBtn"
       value="Удалить прихожанина" />
}
