@model CourseWorkDB.DataBase.Event

@{
    ViewData["Title"] = "Деятельность";
}


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            Ответственный священнослужитель
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priest.Title)
            @Html.DisplayFor(model => model.Priest.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.ParishionerAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.ParishionerAmount)
        </dd>
        <dt class="col-sm-2">
            Список прихожан
        </dt>
        <dd class="col-sm-10 " style="display:grid">
            @foreach (var parishioner in Model.Parishioners)
            {
                <label>@parishioner.Name      @parishioner.Surname</label>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Event">Назад к списку</a>
    <a href="~/DataBase/EditEvent?id=@Model.Id">Редактировать</a>
    <a href="~/DataBase/AddParishionersToEvent?id=@Model.Id">Добавать прихожан</a>
    <a href="~/DataBase/DeleteParishionerFromEvent?id=@Model.Id">Удалить прихожан</a>
</div>
